extends layout
 
block content
  h1= title
  - let horses=[{horsename:"Arabian horse",habitat:"deserts sandsoil",classification:"Equus",price:20000},{horsename:"American Quarter Horse",habitat:"cliffs",classification:"celiuslus",price:25000},{horsename:"Morgan",habitat:"cooling",classification:"Persian",price:10000}]
  div(class="container-fluid mt-3")
  div(class="row")
    each horse,index in horses
        div(class="col-sm-4 m-1 p-3" style=("font-weight:bolder") onclick=`buy(${index})`) #{horse.horsename} - #{horse.habitat} - #{horse.classification} - #{horse.price}
  script.
     
      function buy(itemNo)
      {
        alert(`You purchased Item ${itemNo+1}`)
      }